<div class="mt-4">
  <p class="text-3xl font-sans"> Facilities </p>
  <mat-divider></mat-divider>
  <div class="flex text-lg text-gray-600 mt-4 flex-wrap space-y-4 items-center">
    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> local_florist</mat-icon>
      <p>Outdoor Patio</p>
    </div>

    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> party_mode</mat-icon>
      <p>Party Room</p>
    </div>

    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> restaurant</mat-icon>
      <p>Private Dining</p>
    </div>

    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> music_note</mat-icon>
      <p>Live Music</p>
    </div>

    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> room_service</mat-icon>
      <p>Catering Services</p>
    </div>

    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> local_bar</mat-icon>
      <p>Wine Tasting</p>
    </div>

    <div class="flex space-x-2 w-1/4">
      <mat-icon class="text-emerald-500"> local_parking</mat-icon>
      <p>Car Parking</p>
    </div>
  </div>


</div>
