<!-- restaurent-card-1.component.html -->
<mat-card class="custom-card hover:cursor-pointer" id="promo-mat-card" (click)="redirectToRestaurantDetails()">
    <mat-icon class="hart-unfilled">favorite_border</mat-icon>
    <img mat-card-image class="main-image" [src]="cardImage">
    <mat-card-title class="restaurant-name">{{restaurantName}}</mat-card-title>
<!--    <p class="text-2xl font-mono">LKR 2,750</p>-->
<!--    <mat-card-subtitle class="address">Approx 2 Person</mat-card-subtitle>-->
</mat-card>

<!--&lt;!&ndash; restaurent-card-1.component.html &ndash;&gt;-->
<!--<mat-card class="custom-card hover:cursor-pointer" (click)="redirectToRestaurantDetails()">-->
<!--  <mat-icon class="hart-unfilled">favorite_border</mat-icon>-->
<!--  <img mat-card-image class="main-image" src="/assets/promotions-image.jpg">-->
<!--  <mat-card-title class="price-per-visitor">Title</mat-card-title>-->
<!--  <mat-icon class="four-dots-icon">more_horiz</mat-icon>-->
<!--</mat-card>-->
<!--<p class="restaurant-name">restaurantName</p>-->
<!--<p class="address">restaurantAddress</p>-->
