<div class="mt-32 mx-auto w-[370px] md:w-[670px] xl:w-[1000px]" >
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" >
        <mat-tab label="General">
            <app-general></app-general>
        </mat-tab>
        <mat-tab label="Booking History">
            <app-booking-history></app-booking-history>
        </mat-tab>
        <mat-tab label="Favourites">
            <app-favaourites></app-favaourites>
        </mat-tab>
        <mat-tab label="Settings">
            <app-settings></app-settings>
        </mat-tab>
    </mat-tab-group>
</div>
