.custom-card {
  width: 279px;
  height: 340px;
  position: relative;
}

.custom-card .main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%) contrast(130%) saturate(120%);
  border-radius: 3%;
}

.custom-card .avatar {
  position: absolute;
  top: 16px; /* Adjust the top position as needed */
  left: 16px; /* Adjust the left position as needed */
  width: 64px; /* Set the desired width for the avatar */
  height: 64px; /* Set the desired height for the avatar */
  border-radius: 50%; /* Make the avatar round */
  border: 2px solid white; /* Optional: Add a border for better visibility */
  z-index: 2; /* Ensure the avatar is on top of the main image */
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white; /* Set text color for overlay content */
  /* Additional styling for overlay content */
}

.avatar{
  margin-top: 200px;
}

.restaurant-name{
  position: absolute;
  z-index: 2;
  margin-top: 280px;
  margin-left: 20px;
  color: #ecebeb;
}

.address{
  position: absolute;
  z-index: 2;
  margin-top: 310px;
  margin-left: 20px;
  color:gray;
}

.hart-unfilled{
  position: absolute;
  z-index: 2;
  margin-top: 15px;
  margin-left: 240px;
  color:lightgray;
}

