
<div class="mat-dialog-container">
<div class="mat-dialog-title">
    <h2 >Please sign Up </h2>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="mat-dialog-content">
    <div class="row">
      <div class="error-message" style="width: 50%;" >{{firstNameError}}</div>
      <div class="error-message" style="width: 50%;">{{lastNameError}}</div>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" style="width: 50%;">
        <input matInput [(ngModel)]="firstName" placeholder="First Name">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 50%;">
        <input matInput [(ngModel)]="lastName" placeholder="Last Name">
      </mat-form-field>
    </div>

    <div class="error-message" >{{emailError}}</div>
    <mat-form-field appearance="outline" style="width: 100%;">
      <input type="email" [(ngModel)]="email" matInput placeholder="Email">
    </mat-form-field>

    <div class="error-message" >{{ passwordError }}</div>
    <mat-form-field appearance="outline" style="width: 100%;">
      <input type="password" [(ngModel)]="password" matInput placeholder="Password">
    </mat-form-field>

    <div class="error-message" >{{ confirmPasswordError }}</div>
    <mat-form-field appearance="outline" style="width: 100%;">
      <input type="password" [(ngModel)]="confirmPassword" matInput placeholder="Confirm Password">
    </mat-form-field>

  <!--<div mat-dialog-actions>-->
  <button class="erg-btn erg-btn--full-width erg-btn--large" mat-flat-button (click)="onClick(firstName, lastName, email, password, confirmPassword)">Sign Up</button>
  <!--</div>-->
  <hr>
  <div class="erg-btn--list erg-btn--list--center">
    <button mat-button (click)="signInWithGoogle()">
      <i class="fa-brands fa-google mr-1"></i> Login With Google
    </button>
    <button mat-button>
      <mat-icon class="hg-icon">facebook</mat-icon> Login With Facebook
    </button>
  </div>
  <div class="title--primary margin--top signin">Already Have an account? <a link (click)="openLoginDialog()" > Sign In </a> </div>
  <!--<div class="text-center margin--top">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</div>-->

    </div>
</div>
