<div class="section">
  <div >
    <div class="flex justify-between">
      <div>
        <p class="text-lg font-medium text-gray-700">Promotions</p>
        <p class="text-gray-500 mb-3">Based on traveller visits and local insights</p>
      </div>
      <button mat-button color="primary">See All</button>
    </div>
  </div>
  <div class="flex justify-center">
    <div class="flex items-center justify-center mx-3">
      <button mat-icon-button (click)="owlCar.prev()" class="material-icons shadow-button">navigate_before</button>
    </div>
    <div class="scroll-section">
      <owl-carousel-o [options]="customOptions"  #owlCar>
        <ng-template carouselSlide>
          <app-promotion-card
          [cardImage]="'https://d3plttq4n63nzt.cloudfront.net/Rectangle_73.png'"
          [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_20.png'"
          [restaurantName]="'Coconut Grove Kitchen'"
          [reservationPrice]="'2750'"
          [reservePeopleCount]="'2'"
          [reviewsCount]="'321'"
          [ratingsCount]="4"
          ></app-promotion-card>
        </ng-template>
        <ng-template carouselSlide >
          <app-promotion-card
            [cardImage]="'https://d3plttq4n63nzt.cloudfront.net/Rectangle_74.png'"
            [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_21.png'"
            [restaurantName]="'Sunset Grill and Chill'"
            [reservationPrice]="'2750'"
            [reservePeopleCount]="'3'"
            [reviewsCount]="'202'"
            [ratingsCount]="3"
          ></app-promotion-card>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="flex items-center justify-center mx-2">
      <button mat-icon-button (click)="owlCar.next()" class="material-icons shadow-button">navigate_next</button>
    </div>

  </div>

</div>
