
<div class="content mt-20">
  <p class="text-4xl xl:text-5xl font-sans text-gray-900 font-normal pt-[230px] md:pt-0 xl:md:pt-[150px]">Find your table</p>
  <app-search-widget></app-search-widget>
  <button (click)="redirectToSearchResults()" class="margin--bottom-m my-3" color="primary" mat-flat-button [style.background-color]="'rgb(117,180,119)'">
    <mat-icon>search</mat-icon> Search
  </button>


  <div class="flex justify-center my-5">
    <app-quick-search></app-quick-search>
  </div>

</div>
