@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:host {
  height: 70vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, transparent, white),
  url('/assets/home-background.jpg') center/cover no-repeat;
}

.content {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.animated-heading {
  animation: fadeInScale 2s ease-in-out forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.custom-toggle {
  background-color: #4CAF50;
  color: #ffffff;
  border-radius: 20px;
  margin: 5px;
}

.custom-toggle.mat-button-toggle-checked {
  background-color: #4CAF50;
}
