<div class="font-sans">
<!--  tags-->
  <div class="flex">
    <mat-icon class="text-emerald-400"> local_offer</mat-icon>
    <div class="ml-2">
      <p class="font-semibold">Tags</p>
      <p class="text-gray-500">Music , Beach Front </p>
    </div>
  </div>

  <!--  cousines-->
  <div class="flex mt-2">
    <mat-icon class="text-emerald-400"> restaurant_menu</mat-icon>
    <div class="ml-2">
      <p class="font-semibold">Cuisines</p>
      <p class="text-gray-500">Italian , Asian , Chinese , Thai </p>
    </div>
  </div>

  <!--  hours of operations-->
  <div class="flex mt-2">
    <mat-icon class="text-emerald-400"> schedule</mat-icon>
    <div class="ml-2">
      <p class="font-semibold">Hours of Operations</p>

      <div class="text-gray-500">
        <p>Breakfast</p>
        <p>08:00 A.M. – 11:00 A.M.</p>
        <p>Lunch</p>
        <p>12:00 P.M. – 03:00 P.M.</p>
        <p>Dinner</p>
        <p>08:00 P.M. – 00:00 A.M.</p>
      </div>

    </div>
  </div>

  <!--  payments-->
  <div class="flex mt-2">
    <mat-icon class="text-emerald-400"> payment</mat-icon>
    <div class="ml-2">
      <p class="font-semibold">Payment Options</p>
      <p class="text-gray-500">Visa , MasterCard , Cash Payment , FriMi , AMEX </p>
    </div>
  </div>



</div>
