<div class="w-[1000px] h-[80px] bg-white rounded-[35px] flex space-x-0">
  <div class="form-group p-2 flex ml-8 mt-1">
    <mat-form-field class="example-full-width">
      <mat-label>Location</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Location"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="form-group p-2 flex mt-1">
    <mat-form-field>
      <mat-label>Reserve Date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group p-2 flex mt-1">
    <div class="material-input">
      <input placeholder="Reserve Time" aria-label="default time" id="reservetime"
             [ngxTimepicker]="defaultTime" readonly>
<!--      <label for="reservetime">Reserve Time</label>-->
      <ngx-material-timepicker #defaultTime [defaultTime]="'12:10 pm'"></ngx-material-timepicker>
    </div>
  </div>

  <div class="form-group p-2 flex mt-1">
    <mat-form-field appearance="fill">
      <mat-label>Guest Count</mat-label>
      <div class="guest-count">
        <!--          <button (click)="decrementGuestCount()">-</button>-->
        <input matInput type="number" [(ngModel)]="guestCount" min="0">
        <!--          <button (click)="incrementGuestCount()">+</button>-->
      </div>
    </mat-form-field>
  </div>

  <!--    <button mat-raised-button class="search-button p-2 flex">Search</button>-->
<!--  <button mat-icon-button class="circular-button darker-background p-2 flex" (click)="redirectToSearchResults()">-->
<!--    <mat-icon>search</mat-icon>-->
<!--  </button>-->
</div>
