<ng-container *ngIf="!isLoading; else loadingTemplate">
<div class="flex image-container">
    <div>
      <img [src]="images['usa'][0]" alt="1">
    </div>
    <div>
      <img [src]="images['diga'][0]" alt="2">
      <img [src]="images['diga'][1]" alt="3">
    </div>
    <div>
      <img [src]="images['diga'][2]" alt="4">
      <img [src]="images['diga'][3]" alt="5">
    </div>
    <div>
      <img [src]="images['usa'][1]" alt="6">
    </div>
</div>
</ng-container>

<ng-template #loadingTemplate>

  <div class="md:hidden ml-4">
    <p-skeleton width="320px" height="450px"></p-skeleton>
  </div>

  <div class="hidden md:flex ml-10 space-x-3">
    <p-skeleton width="270px" height="520px"></p-skeleton>
    <div class="flex flex-col space-y-2">
      <p-skeleton width="600px" height="250px"></p-skeleton>
      <p-skeleton width="600px" height="250px"></p-skeleton>
    </div>
    <div class="flex flex-col space-y-3">
      <p-skeleton width="600px" height="250px"></p-skeleton>
      <p-skeleton width="600px" height="250px"></p-skeleton>
    </div>
    <p-skeleton width="270px" height="520px"></p-skeleton>
  </div>

</ng-template>

