<app-background></app-background>

<div class="container mx-auto">
  <div class="flex justify-center">
    <app-promotions></app-promotions>
  </div>
  <div class="flex justify-center pt-5">
    <app-recommendations></app-recommendations>
  </div>
  <div class="flex justify-center pt-5">
    <app-other-places></app-other-places>
  </div>
  <div class="flex justify-center pt-5">
    <app-join-us></app-join-us>
  </div>
</div>



<!--<div class="container home-space">-->
<!--  <div class="header-image-text-container">-->
<!--    <div class="header-image-text">Find your table</div>-->
<!--  </div>-->
<!--  <div class="search_widget">-->
<!--    <div class="c-card c-search-form form-list search_widget">-->
<!--      <app-search-widget class=""></app-search-widget>-->
<!--    </div>-->
<!--  </div>-->
<!--  <app-quick-search></app-quick-search>-->

<!--  &lt;!&ndash; Promotions Start &ndash;&gt;-->
<!--  <app-promotions></app-promotions>-->
<!--  &lt;!&ndash; Promotions end &ndash;&gt;-->

<!--  &lt;!&ndash; Recommendations Start &ndash;&gt;-->
<!--  <app-recommendations></app-recommendations>-->
<!--  &lt;!&ndash; Recommendations End &ndash;&gt;-->

<!--  &lt;!&ndash; Places Start &ndash;&gt;-->
<!--  <app-other-places></app-other-places>-->
<!--  &lt;!&ndash; Places End &ndash;&gt;-->

<!--  &lt;!&ndash; Join Us Start &ndash;&gt;-->
<!--  <app-join-us></app-join-us>-->
<!--  &lt;!&ndash; Join Us end &ndash;&gt;-->
<!--</div>-->


