<app-background></app-background>

<div class="container mx-auto">
  <div class="flex justify-center mt-[200px] md:-mt-[150px] xl:-mt-[80px]">
    <app-promotions></app-promotions>
  </div>
  <div class="flex justify-center pt-5">
<!--    <app-recommendations></app-recommendations>-->
    <app-recommendation></app-recommendation>
  </div>
  <div class="flex justify-center pt-5">
    <app-other-places></app-other-places>
  </div>
  <div class="flex justify-center pt-5">
    <app-join-us></app-join-us>
  </div>
</div>

