<div class="section w-screen">
  <div class="flex justify-center">
    <div class="flex justify-between w-[430px]">
      <div>
        <p class="text-lg font-medium text-gray-700">Recommended Places</p>
        <p class="text-gray-500 mb-3">Based on traveller visits and local insights</p>
      </div>
      <button mat-button color="primary">See All</button>
    </div>
  </div>

  <div class="flex mx-auto w-[430px]">
    <div class="cards-section grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4" >
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_24.png'"
        [restaurantName]="'Delicious Bistro'"
        [reservationPrice]="'4000'"
        [reservePeopleCount]="'2'"
        [reviewsCount]="'150'"
        [ratingsCount]="5"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_23.png'"
        [restaurantName]="'Savory Grill'"
        [reservationPrice]="'4500'"
        [reservePeopleCount]="'4'"
        [reviewsCount]="'200'"
        [ratingsCount]="4"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_21.png'"
        [restaurantName]="'Spice Haven'"
        [reservationPrice]="'3500'"
        [reservePeopleCount]="'3'"
        [reviewsCount]="'180'"
        [ratingsCount]="4"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_22.png'"
        [restaurantName]="'Café Serenity'"
        [reservationPrice]="'3000'"
        [reservePeopleCount]="'2'"
        [reviewsCount]="'120'"
        [ratingsCount]="5"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_21.png'"
        [restaurantName]="'Mediterranean Delight'"
        [reservationPrice]="'5000'"
        [reservePeopleCount]="'5'"
        [reviewsCount]="'250'"
        [ratingsCount]="3"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_22.png'"
        [restaurantName]="'Sushi Fusion'"
        [reservationPrice]="'4200'"
        [reservePeopleCount]="'3'"
        [reviewsCount]="'210'"
        [ratingsCount]="4"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_24.png'"
        [restaurantName]="'Farm-to-Table Fresh'"
        [reservationPrice]="'4800'"
        [reservePeopleCount]="'4'"
        [reviewsCount]="'190'"
        [ratingsCount]="5"
        class="w-[300px]"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://media-cdn.tripadvisor.com/media/photo-s/0c/af/fe/ab/front-view-of-restaurant.jpg'"
        [cardAvatar]="'https://d3plttq4n63nzt.cloudfront.net/Ellipse_23.png'"
        [restaurantName]="'Urban Spice'"
        [reservationPrice]="'3900'"
        [reservePeopleCount]="'2'"
        [reviewsCount]="'160'"
        [ratingsCount]="4"
        class="w-[300px]"
      ></app-recommendation-card>
    </div>
  </div>



</div>
