<div class="text-md md:text-lg mt-10">
  <p class="text-4xl md:text-5xl font-medium text-gray-800">Successfully Reserved</p>
  <div class="my-4">
    <p class="my-0" style="margin-bottom: 0.5em;">{{restaurntName}} for 2 people on 21st July 8:30 PM</p>
    <p class="my-0">Colombo, Sri Lanka</p>
  </div>
  <p class="font-bold">What To Know Before You Go!</p>
  <p>A note from the restaurant</p>
  <div class="w-[340px] md:w-[700px]">
    <p class="text-gray-500 text-sm py-0">Thank you for choosing graze kitchen - Hilton Colombo. Should your plans change, Please let us know. We look forward to serving you</p>
  </div>
  <div class="flex my-3 w-[320px]">
    <input type="text" class="form-control px-3 py-2" style="width: 280px;" placeholder="Ex. pat@example.com">
    <button class="bg-[#4b2870] hover:bg-[#6c3aa1] ml-1 px-2 py-1 text-amber-50 rounded-md text-sm font-medium">Add Coupons</button>
  </div>
</div>
