<div class="section">
  <div >
    <div class="flex justify-between">
      <div>
        <p class="text-lg font-medium text-gray-700"> Recommended Places</p>
        <p class="text-gray-500 mb-3">Based on traveller visits and local insights </p>
      </div>
      <button mat-button color="primary">See All</button>
    </div>
  </div>
  <div class="cards-section">
    <div class="flex justify-between">
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/cecf55fe-8f5b-4c29-823b-65450a7dcd71'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/c77434a6-ea98-4fd0-9eb1-c1942f83cd20'"
        [restaurantName]="'Delicious Bistro'"
        [reservationPrice]="'4000'"
        [reservePeopleCount]="'2'"
        [reviewsCount]="'150'"
        [ratingsCount]="5"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/d17f2a25-66bc-42aa-a503-1286def73659'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/9f59c038-8216-4520-831f-4f9516a0f328'"
        [restaurantName]="'Savory Grill'"
        [reservationPrice]="'4500'"
        [reservePeopleCount]="'4'"
        [reviewsCount]="'200'"
        [ratingsCount]="4"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/f24df456-27f0-49c7-a91b-5eafe5958bce'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/7ccbe56c-19ae-44b5-b7f4-7fb38f4f4282'"
        [restaurantName]="'Spice Haven'"
        [reservationPrice]="'3500'"
        [reservePeopleCount]="'3'"
        [reviewsCount]="'180'"
        [ratingsCount]="4"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/e551b1e8-7680-49c0-a7fd-16a6eb2c7f3e'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/188746d2-e269-45a0-ab6d-20ddaad981ca'"
        [restaurantName]="'Café Serenity'"
        [reservationPrice]="'3000'"
        [reservePeopleCount]="'2'"
        [reviewsCount]="'120'"
        [ratingsCount]="5"
      ></app-recommendation-card>
    </div>
    <div class="flex justify-between mt-5">
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/9912f000-0167-42df-8260-7591eeda555a'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/1e86b720-60d3-4c97-b19a-6c9785cbc0ef'"
        [restaurantName]="'Mediterranean Delight'"
        [reservationPrice]="'5000'"
        [reservePeopleCount]="'5'"
        [reviewsCount]="'250'"
        [ratingsCount]="3"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/d947006a-8af9-401b-8364-bebc89de8c0e'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/51e328d4-10af-4a3c-b410-110023177fe7'"
        [restaurantName]="'Sushi Fusion'"
        [reservationPrice]="'4200'"
        [reservePeopleCount]="'3'"
        [reviewsCount]="'210'"
        [ratingsCount]="4"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/5ad67651-1fc9-4ffd-9137-8fe3ef28bf9d'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/68f24a3e-e13e-4f58-8259-6fae8ef9af39'"
        [restaurantName]="'Farm-to-Table Fresh'"
        [reservationPrice]="'4800'"
        [reservePeopleCount]="'4'"
        [reviewsCount]="'190'"
        [ratingsCount]="5"
      ></app-recommendation-card>
      <app-recommendation-card
        [cardImage]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/a9da46cd-225f-4c3e-a32b-c7a6e2361a49'"
        [cardAvatar]="'https://github.com/PasanAbeysekara/hangouts.lk/assets/69195287/e9b8fcee-129d-4dcd-b7f5-fff2e042f2f3'"
        [restaurantName]="'Urban Spice'"
        [reservationPrice]="'3900'"
        [reservePeopleCount]="'2'"
        [reviewsCount]="'160'"
        [ratingsCount]="4"
      ></app-recommendation-card>
    </div>

  </div>
<!--  <div class="flex justify-center">-->
<!--    <div class="flex items-center justify-center mx-3">-->
<!--      <button mat-icon-button (click)="owlCar.prev()" class="material-icons shadow-button">navigate_before</button>-->
<!--    </div>-->
<!--    <div class="scroll-section">-->
<!--      <owl-carousel-o [options]="customOptions"  #owlCar>-->
<!--        <ng-template carouselSlide>-->
<!--          <app-recommendation-card></app-recommendation-card>-->
<!--        </ng-template>-->
<!--        <ng-template carouselSlide >-->
<!--          <app-recommendation-card></app-recommendation-card>-->
<!--        </ng-template>-->
<!--      </owl-carousel-o>-->
<!--    </div>-->
<!--    <div class="flex items-center justify-center mx-2">-->
<!--      <button mat-icon-button (click)="owlCar.next()" class="material-icons shadow-button">navigate_next</button>-->
<!--    </div>-->

<!--  </div>-->

</div>
