<!-- restaurent-card-1.component.html -->
<mat-card class="custom-card hover:cursor-pointer w-[300px] md:w-[300px] lg:w-[260px] 2xl:w-[280px]" id="recommendation-mat-card" (click)="redirectToRestaurantDetails()">
  <!--  <mat-icon class="hart-unfilled">favorite_border</mat-icon>-->
  <!--  <img mat-card-image class="main-image" src="/assets/promotions-image.jpg">-->
  <!--  <img mat-card-avatar class="avatar" src="/assets/promotions-logo.jpg">-->
  <!--  <mat-card-title class="restaurant-name">Happy hour at cafe Noir</mat-card-title>-->
  <!--  <p class="text-2xl font-mono">LKR 2,750</p>-->
  <!--  <mat-card-subtitle class="address">Approx 2 Person</mat-card-subtitle>-->

  <div class="flex flex-col justify-center">
    <img [src]="cardImage" style="height: 248px" class="rounded-md" alt="image">
    <div>
      <div class="mt-3 ml-4">
        <ngb-rating [rate]="ratingsCount" class="text-amber-500 text-xl" />
        <!--        <span class="text-gray-700 text-sm">(396)</span>-->
        <span class="text-gray-700 text-sm">({{ reviewsCount }})</span>
      </div>
      <div class="ml-5 " id="text-section">
        <p class="text-xl font-medium">{{restaurantName}}</p>
        <p class="text-2xl font-mono" style="margin-bottom: 0">{{reservationPriceCurrency}} {{ reservationPrice }}</p>
        <p class="text-gray-500 " >Approx {{ reservePeopleCount }}  Person</p>
      </div>
    </div>
    <img class="avatar" [src]="cardAvatar">
  </div>
</mat-card>
