
<div class="mat-dialog-container">
    <div class="mat-dialog-title">
      <h1 class="large-font">Please sign in</h1>
      <button mat-icon-button mat-dialog-close class="clear-icon-button">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

      <div class="mat-dialog-content">
        <div>
          <mat-form-field appearance="outline" style="width: 100%;">
            <input matInput [(ngModel)]="username"  placeholder="User Name">
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <input [type]="hide ? 'password' : 'text'" [(ngModel)]="password" matInput placeholder="Password">
            <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <mat-hint align="end" >Forgot Password ?</mat-hint>
          </mat-form-field>

        </div>
        <div *ngIf="authenticationError" style="color: red;">Incorrect username or password. Please try again</div>
        <!--<div mat-dialog-actions>-->
        <button class="erg-btn erg-btn--full-width erg-btn--large margin--top" mat-flat-button (click)="onClick(username, password)">Sign In</button>
        <!--</div>-->
        <hr>
        <div class="text-center title--primary margin--top">Don't want to complete the form?</div>
        <hr>
        <div class="erg-btn--list">
          <button mat-button (click)="signInWithGoogle()">
            <i class="fa-brands fa-google mr-1"></i> Login With Google
          </button>
          <button mat-button (click)="signInWithFacebook()">
            <mat-icon class="hg-icon">facebook</mat-icon> Login With Facebook
          </button>
        </div>
        <div class="text-center title--primary margin--top new-user">New User ?<a mat-link (click)="openRegisterDialog()"> Create an account</a> </div>
        <div class="text-center margin--top recatcha">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</div>
      </div>

</div>

