<div>
  <mat-card style="border: 1px solid #ccc;border-radius: 5%" class="cursor-pointer 2xl:w-[450px] w-[300px]" >

    <div class="flex">
      <div class="ml-4 my-auto">
        <img class="object-cover object-center w-20 h-20 rounded-md" src="https://d3plttq4n63nzt.cloudfront.net/Rectangle_73.png" alt="">
      </div>
      <div class="mx-4 mt-2">
        <p class="text-lg font-bold text-gray-700 mb-0">A Minute by Tuk Tuk Colombo</p>
        <p class="mb-0">28 Dec, 2020 10.30 AM, User Name</p>
        <p class="text-gray-500 -mt-2" style="font-size: small">2 Adults, 1 Child</p>
        <div class="flex -mt-2">
          <p class="font-mono text-xl font-bold" style="color: var(--color1)">LKR 6,500</p>
        </div>
      </div>
    </div>
    <mat-divider class="w-full"></mat-divider>
    <div class="flex justify-between" style="position: relative">
      <div class="flex">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="my-auto mr-2">
        <button mat-stroked-button style="background: #333333;color: white">Book Again</button>
      </div>
    </div>

    <mat-divider class="w-full"></mat-divider>
    <div class="flex justify-between">
      <button mat-button color="warn" class="w-26 my-1 ml-1">Add Rating</button>
      <ngb-rating [(rate)]="rating" [readonly]="false" class="text-red-500 text-2xl my-auto mr-3" />
    </div>

<!--Paragraph-->
    <mat-divider class="w-full"></mat-divider>
    <div class="my-2 text-gray-500" style="margin-left:10px;margin-right: 10px ">
      <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like)
      </p>
    </div>

  </mat-card>
</div>
