
<!--Gallery-->
<div class="justify-center mt-28 hidden md:block">
    <app-product-images></app-product-images>
</div>

<div class="flex justify-center">
  <div class="flex  2xl:w-[1300px]">
    <!--Left-->
    <div class="md:w-[720px] md:mt-3 flex flex-col justify-center mx-auto">
      <div class="hidden md:block">
        <mat-tab-group>
          <mat-tab label="Overview">  </mat-tab>
          <mat-tab label="Facilities">  </mat-tab>
          <mat-tab label="Menu">  </mat-tab>
          <mat-tab label="Map">  </mat-tab>
          <mat-tab label="Media">  </mat-tab>
          <mat-tab label="Reviews">  </mat-tab>
        </mat-tab-group>
      </div>
      <!--    <mat-divider></mat-divider>-->
      <app-product-overview></app-product-overview>
      <app-product-facilities></app-product-facilities>
      <app-product-menu></app-product-menu>
      <app-product-map></app-product-map>
      <app-product-media></app-product-media>
      <app-product-review></app-product-review>
    </div>

    <!--Right-->
    <div class="w-[400px] mt-20 hidden 2xl:block ">
      <app-bottom-sheet-reserve-sheet></app-bottom-sheet-reserve-sheet>
      <div class="mt-10">
        <app-erg-menu></app-erg-menu>
      </div>
    </div>
  </div>
</div>


<!--<mat-button-toggle (click)="redirectToCheckout()">Checkout</mat-button-toggle>-->
<!--<mat-button-toggle (click)="reserve()"> Make Reservation </mat-button-toggle>-->
