@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0;
  font-family: Calibri, serif }

:root {
  --foreground: #000000; /* Black text color for foreground */
  --divider: #bdbdbd; /* Grey divider color */
  --secondary-text: #858585; /* Grey secondary text color */
}
