<!-- restaurent-card-1.component.html -->
<mat-card class="custom-card hover:cursor-pointer" id="recommendation-mat-card" (click)="redirectToRestaurantDetails()">
  <!--  <mat-icon class="hart-unfilled">favorite_border</mat-icon>-->
  <!--  <img mat-card-image class="main-image" src="/assets/promotions-image.jpg">-->
  <!--  <img mat-card-avatar class="avatar" src="/assets/promotions-logo.jpg">-->
  <!--  <mat-card-title class="restaurant-name">Happy hour at cafe Noir</mat-card-title>-->
  <!--  <p class="text-2xl font-mono">LKR 2,750</p>-->
  <!--  <mat-card-subtitle class="address">Approx 2 Person</mat-card-subtitle>-->
  <div>
    <img src="../../../../../../assets/home-page-background.jpg" style="width: 248px" class="rounded-md" alt="image">
    <div>
      <div class="star-container">
        <span class="filled-star"></span>
        <span class="filled-star"></span>
        <span class="filled-star"></span>
        <span class="filled-star"></span>
        <span class="filled-star"></span>
        <span class="text-gray-700 text-sm">(396)</span>
      </div>
      <div class="ml-5 -mt-5" id="text-section">
        <p class="text-xl font-medium">Happy hour at cafe Noir</p>
        <p class="text-2xl font-mono" style="margin-bottom: 0">LKR 2750</p>
        <p class="text-gray-500 " >Approx 2 Person</p>
      </div>
    </div>
    <img class="avatar"  src="../../../../../../assets/promotions-logo.jpg">
  </div>
</mat-card>
